.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #0f172a;
  color: white;
  gap: 1rem;
}

.localVideo {
  object-fit: cover;
  background: #111;
  border-radius: 8px;
  width: 110px;
  aspect-ratio: 9 / 16;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.remoteVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: #111;
}

%button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.startCallButton {
  @extend %button;

  background: #2563eb;
  color: white;

  &:hover {
    background: #1d4ed8;
  }
}

.endCallButton {
  @extend %button;

  background: red;
  color: white;

  &:hover {
    background: red;
  }
}

.status {
  opacity: 0.8;
  font-size: 0.9rem;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 24px 0;
}
